*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Custom
_site

# Ant
MANIFEST.MF
./*.jar
build.num
build

# ADT
.classpath
.project
.settings
local.properties
bin
gen
_layouts
proguard.cfg

# OSX
.DS_Store

# Github
gh-pages

# Gradle
.gradle
build

# IDEA
*.iml
*.ipr
*.iws
out
.idea

# Maven
target
release.properties
pom.xml.*

# Readium DRM LCP
liblcp.aar